{% extends "layout.html" %}

{% block title %}Workout Remixer App{% endblock %}

{% block page %}Workout Remixer App{% endblock %}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li><a href="/">Home Page</a></li>
        <li><a href="/logout">Log out</li>
    </ul>
{% endblock %}

{% block styles %}
.menu {
  margin-bottom: 20px;
  margin-left: 40px;
}
body{
  background: linear-gradient(to right, #64CCC5, #176B87, #001C30), url('https://as1.ftcdn.net/v2/jpg/00/93/55/88/1000_F_93558844_zsJSg3nGtgXX0HSToxWJeBjEt1OIyTHo.jpg');
  height: 100vh;
  background-size: cover;
  display:flex;
  flex-direction: column;
}
.aqua{
  color: aqua;
}

.outside{
  display: flex;
  align-items: center;
  justify-content: center; 
  background: transparent;
}

.create-routine-css{
  margin-top: 3vh;
  background: transparent;
  width: 95vw;
  height: 85vh; 
  border-color: black;
  border-radius 10px;
}

div.my-routine-heading{
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  background-color: #001C30; 
  height: 10vh;
  color: white;
}

span{
  color: white;
  font-size: 100%;
}
a#my-routines{
  margin-top:3vh;
  margin-right: 10vw;
  font-size: 1.5em;
  color: white;
}

a#default-routines{
  margin-left: 25vw;
  margin-top:3vh;
  margin-right: 25vw;
  font-size: 1.5em;
  color: white;
}

a#list-of-exercises{
  margin-top:3vh;
  font-size: 1.5em;
  color: white;
}

section.my-routine-content{
  justify-content: center;
  align-items:center;
  color: white;
}

.routine-list {
  list-style-type: none;
  padding: 10;
  background-color: #001C30;
  width: 80vw;
  align-items:center;
  border-radius: 25px;
  
}

.routine-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 80vw;
  border-radius: 10%;

}
{% endblock %}


{% block content %}

<div class="outside">
  <div class="create-routine-css">
    <div class="my-routine-heading">
        <a id="my-routines" href="/home">My Routines</a>
        <a id="list-of-exercises" href="/exercises">List of Exercises</a>
    </div>


    <section class="my-routine-content">
      <div class="home-my-routine" style="text-align: center;">
        <h4>List of Exercises</h4>
      </div>
    
      {% for exercise in exercises %}
      <ul class="routine-list">
        <li class="routine-item">
          <span>{{exercise.name}}</span>
          <div>
            <button id="view" class="btn waves-effect waves-light">View Details</button>
            <form action="/add_routine/{{exercise.id}}" method="post">
                <input type="hidden" name="exercise_id" value="{{ exercise.id }}">
                <button type="submit" class="btn waves-effect waves-light">Add</button>
            </form>
          </div>
        </li>
      </ul>
      {% endfor %}
    </section>
  </div>
</div>

<script>

  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.querySelector(".container").style.paddingLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.querySelector(".container").style.paddingLeft = "0";
  }

</script>
{% endblock %}
