body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
  }
  .container {
    width: 100%;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    margin-bottom: 20px;
  }
  .routine-list {
    list-style-type: none;
    padding: 10;
  }
  .routine-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid #000;
    padding: 10px;
  }
  
  .nav {
    text-align: center;
    margin: 20px 0; 
  }
  .nav button {
    margin: 0 10px; 
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
  }
  .header .menu {
    font-size: 30px;
    cursor: pointer;
  }
  .header h1 {
    margin: 0;
  }
  .content {
    margin-top: 40px;
  }
  .button{
    size: 20px;
    justify-content: center;
    text-align: center;
  }
  .aqua{
    color: aqua;
  }